.app {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100%;
  width: 100%;
}

.canvas {
  display: flex;
  margin: 10px;
  padding: 0;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  background-color: rgb(240, 240, 232);
  border-radius: 20px;
  border: 5px solid #fff;
  max-width: 100%;
  height: auto;
}